body {
  background-image: url(./pictures/bg-blue-medical.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header {
  font-size: 2em;
}

.slider-container {
  border-radius: 18px;
  /* background-color: rgb(179, 179, 228); */
  /* background-image: url(./pictures/glass-plate.png); */
  background-repeat: no-repeat;
  background-size: cover;
}
.requirement-text {
  font-weight: 700;
  font-size: 1.2em;
}


.slider {
  width: 100%;
}
.slider-header {
  font-size: 1.4em;
  font-weight: 700;
}

.installment-header {
  font-size: 1.5em;
}
.installment-container {
  font-size: 1.5em;
  font-weight: 700;
  border-bottom: 4px dashed #007BFF;
  line-height: 100%;
}
#monthlyInstallment {
  font-size: 3.5em;
}

.btn {
  font-size: 2.5em;
  font-weight: 700;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: .2em;
  padding-bottom: .4em;
  border-radius: 50px;
}